body {
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #6e48aa;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}

button {
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #6e48aa, #9d50bb);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #3b3b3b;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

li button:hover {
    background: linear-gradient(to right, #6e48aa, #9d50bb);
}

.student-found {
    background-color: #3b3b3b;
    padding: 10px;
    margin: 20px 0;
    border-radius: 4px;
    text-align: left;
}

.student-found p {
    margin: 5px 0;
}